/***** mise en forme de la section recherche *****/
#filters{
	background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.7) 100%);
	padding-top: 20px;
	padding-bottom: 30px;
}
#filters h2{
	font-size: 2em;
	font-weight: bold;
}
#filters p{
    display: inline-block;
}
#filters form{
    margin-left: 100px;
    flex-wrap: wrap;
}
#filters form>div{
    margin-right: 50px;
}
#filters form label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
#filters input, #filters select{
	color: #FFF;
	font-size: 1.3em;
	background: transparent;
    width: 200px;
	max-width: 200px;
	border: 2px solid #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
#filters select{
    color: black;
}
/***** fin mise en forme de la section recherche *****/

/***** mise en forme de la section résultats *****/
#results{
	background: linear-gradient(rgba(0, 0, 0, 0.7) 0,#121212 100%);
	min-height: 500px;
}
#results h2{
	font-size: 2em;
}
#results ul{
    list-style: none;
    padding-left: 0px;
	flex-flow: row wrap;
	justify-content: space-around;
}
#results a{
	text-decoration: none;
}
#results figure{
	width: 230px;
	height: 530px;
	margin: 16px 20px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
#results figure:hover{
	background-color: #eaeaea;
	transition: 0.5s;
}
#results figure>div{
	position: relative;
}
#results figure img{
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}
#results figure figcaption{
	padding: 0px 10px;
	padding-bottom: 5px;
}
#results figure figcaption h3{
	color: #a00;
	font-size: 1.1em;
	margin: 5px 0;
}
#results figure figcaption time{
	color: #515151;
	font-size: 0.9em;
}
#results figure figcaption p{
	color: #242424;
	font-size: 0.9em;
}
#results figure .btn-action{
	font-size: 1.1em;
	text-align: center;
	color: #FFF;
	position: absolute;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	background-color: #a00;
	border-radius: 25%;
	border-style: none;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	-ms-border-radius: 25%;
	-o-border-radius: 25%;
}
#results figure .btn-action svg{
	line-height: 40px;
}
#results figure .btn-delete{ /*position du bouton supprimer*/
	bottom: 16px;
	left: 186px;
	display: none;
}
#results figure .btn-update{ /*position du bouton modifier*/
	bottom: 66px;
	left: 186px;
	display: none;
}
#results figure:hover > div .btn-delete,
#results figure:hover > div .btn-update{
	display: block;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/***** fin mise en forme de la section résultats *****/