@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/***** mise en forme du header *****/
header{
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.01);
	position: fixed;
	background-color: #FFF;
	z-index: 1000;
	top: 0;
}
 header>div{
	grid-template-columns: 25% 75%;
	align-items: center;
}
header a{
	text-decoration: none;
	color: #0f0f0f;
}
.navbar-brand h1 span{
	font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  color: #a00;
}
header nav ul{
  margin-top: 25px;
}
header nav ul li{
	margin-right: 40px; 
}
header nav ul a{
	font-size: 1.2em;
}
header nav ul a:hover,
header nav ul a:focus{
	color: #a00;
}
/***** fin mise en forme du header *****/