/***** styles généraux des pages *****/
body *{	
	box-sizing: border-box;
}
body{
	margin: 0px;
	font-family: Open Sans, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: Arial, sans-serif;
}
/***** fin styles généraux des pages *****/

/***** styles généraux des mains *****/
main{
	padding-top: 80px;
}
/***** fin styles généraux des mains *****/

/***** modele de boîte *****/
.w-100{
	width: 100%;
}
.w-75{
	width: 75%;
}
.w-50{
	width: 50%;
}
.w-25{
	width: 25%;
}
.d-grid{
	display: grid;
}
.d-flex{
	display: flex;
}
.container{
	width: 100%;
	margin: auto;
}
.unstyled{
	list-style: none;
}
.m-auto{
	margin: auto;
}
.my-0{
  margin: 0px 0px;
}
.mr-20{
	margin-right: 20px;
}
.py-30{
	padding: 30px 0px;
}
.py-5{
	padding: 5px 0px;
}
.pl-0{
  padding-left: 0px;
}
.pos-relative{
	position: relative;
}
/***** fin modele de boîte *****/

/***** styles de texte et boite *****/
.text-green{
	color: #12ab75;
}
.text-white{
	color: #FFF;
}
.text-center{
	text-align: center;
}
/***** fin styles de texte et boite *****/

/***** media queries *****/
@media screen and (min-width: 557px){
	.container{
		max-width: 507px;
	}
}
@media screen and (min-width: 576px){
	.container{
		max-width: 540px;
	}
}
@media screen and (min-width: 768px){
	.container{
		max-width: 720px;
	}
}
@media screen and (min-width: 992px){
	.container{
		max-width: 960px;
	}	
}
@media screen and (min-width: 1200px){
	.container{
		max-width: 1140px;
	}	
}
/***** fin media queries *****/